/*div {
	border: 1px solid black;
}*/

body {
	font-family:'fira_sansregular';
}

.wrapper {
	min-width: 1200px;
	min-height: 100%;
	background-color: #f6f6f6;
	overflow: hidden;

	
}

.conteiner {
	width: 960px;
	margin: 0 auto;

}

.page_top {
	height: 80px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

}
.user {
	display: inline-block;
	
}

.user_avatar {
	width: 60px;
	padding: 10px 0 8px 0;
	display: inline-block;
	vertical-align: middle;


}
.user_avatar_foto {
	height: 62px;
	width: 60px;
	border-radius: 40px;
	border: 2px solid #d37613;

}
.user__name {
	display: inline-block;
	margin-left: 20px;
	margin-top: 35px;
}

.contacts {
	float: right;
	margin-top: 35px;
	margin-right: 130px;


}
.contacts_trigger  {
	color:#33c1e3;
	text-decoration: none;
	border-bottom: 2px dotted #33c1e3;
	font-size: 18px;
	line-height: 1.5

}
.content {
	min-height: 570px;
	
}