
.wrapper__header {
	background: #d83b3f; 
	background: -moz-linear-gradient(45deg, #d83b3f 0%, #a4161b 100%, #a4161b 100%, #2989d8 100%, #a4161b 100%); 
	background: -webkit-linear-gradient(45deg, #d83b3f 0%,#a4161b 100%,#a4161b 100%,#2989d8 100%,#a4161b 100%);
	background: linear-gradient(45deg, #d83b3f 0%,#a4161b 100%,#a4161b 100%,#2989d8 100%,#a4161b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83b3f', endColorstr='#a4161b',GradientType=1 ); 
	 

}

.header {
    padding-top: 20px;    
}	

 .logo {
     display: inline-block;
     margin-right: 140px;
 }
 
 .logo {
     display: inline-block;
 }

.logo__img {
   .inlineblock(middle);
}

.logo__text {
    .inlineblock (middle);
    color: @orange2;
    margin: 0 auto;
    .malina ();
    font-size: 48px;
    margin-left: 30px;
}

.sidebar {
    display: inline-block;
}

.nav__item {
	.inlineblock (middle);
    padding-left: 40px;
    margin-right: 20px;
    
}
.nav__item-link {
	font-size: 16px;
	color: #fff;

	&:hover {
		color: #ffaf28;
	}
}
.command__dropdown {
	right: 10%;
	top: 12%;
	position: absolute;
	// display: none;
	border: 1px solid #dedede;
    border-radius: 20px;
    list-style: none;
    background-color: rgba(255, 251, 100%, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: 1000;
    cursor: pointer;
    padding: 30px 60px; 

    &:after, &:before {
    	position: absolute;
	    content: '';
	    width: 0;
	    height: 0;
    }

    &:before {
	    top: -50px;
	    left: 41%;
	    border: 25px solid transparent;
	    border-bottom-color: rgba(222, 222, 87%, 0.7);
    }

    &:after {
    	top: -48px;
	    left: 41%;
	    border: 24px solid transparent;
	    border-bottom-color: rgba(255, 251, 100%, 0.8);
    }

    

}
.command__dropdown-item {
	padding-bottom: 20px;

	&:last-child {
		padding: 0;
	} 
}


.icon__header {
	.inlineblock(middle);
	margin-left: 55px; 
}

.icon__item {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-right: 15px;
	background: url('../imgs/icon/sprite_header.png') no-repeat;
}

.icon__item-account {
	background-position: 0px, 0px;
}

.icon__item-search {
	background-position: -113px, 0px;
}


.cake {
	position: relative;
	width: 1284px;
}

.ingredients {
	width: 150px;
	float: left;
	color: #fff;
	margin-top: 305px;
	margin-right: 95px;
}

.ingredients__icon {
	background: url('../imgs/icon/sprite_header.png') no-repeat;
	height: 50px;
	width: 45px;
	margin-left: 50px;
    display: block;
    background-position: -226px, 0px;

	&:hover {
	background-position: -334px, 0px;
	}
}

.ingredients__dropdown {
	left: 12%;
	top: 30%;
	position: absolute;
	// display: none;
	border: 1px solid #dedede;
    border-radius: 20px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: 1000;
    cursor: pointer;
    padding: 50px;
    padding-right: 80px; 
    color: black;

     &:after, &:before {
    	position: absolute;
	    content: '';
	    width: 0;
	    height: 0;
    }

    &:before {
		top: 28%;
		left: -11%;
		border: 20px solid transparent;
		border-right-color: #dedede;
    }

    &:after {
	    top: 28%;
	    left: -10%;
	    border: 19px solid transparent;
	    border-right-color: #fff;
    }
}

.ingredients__dropdown-item {
	padding-bottom: 15px;

	&:last-child {
		padding: 0;
	} 
}
.ingredients__dropdown-text {
	display: inline-block;
	margin-right: 30px;

	&:before {
		content: '';
		background: url('../imgs/icon/sprite_ingredients.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}

.ingredients__dropdown-flour {
	&:before {
		background-position: 0 0;
	}
}
.ingredients__dropdown-eggs {
	&:before {
		background-position: -65px 0;
	}
}
.ingredients__dropdown-sugar {
	&:before {
		background-position: -131px 0;
	}
}
.ingredients__dropdown-oil {
	&:before {
		background-position: -199px 0;
	}
}
.ingredients__dropdown-milk {
	&:before {
		background-position: -266px 0;
	}
}




.ingredients__dropdown-quantity {
	display: inline-block;

}
.ingredients__text {
	text-align: center;
}

.time {
	margin-top: 105px;
	text-align: center;
}

.time__text {
	font-size: 13px;
}

.time__hour {
	.malina();
	font-size: 24px;
}

.capcake {
	float: right;
	width: 960px;
	margin-top: 140px;
	margin-right: 79px;

}

.capcake__img {
	position: relative;
	float: left;
	width: 500px;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 55px;
}

.capcake__img-link {
	position: absolute;
	top: 0;
	left: 9999px;
}
.description {
	color: #fff;
	float: right;
	width: 400px;
	vertical-align: top;

}

.text__big {
	.malina ();
	font-size: 40px;
}

.price {
	.malina ();
	font-size: 75px;
	display: inline-block;
	margin: 0;
}

.button {
	.inlineblock (top);
	margin-top: 45px;
	margin-left: 25px;
	

	
}
 .button__link {
 	.border-radius (27px);
	background: @orange;
	padding: 15px 30px;
	color:#a4151c;

	&:hover {
		background: #641a00;
		color: @orange;
	
	}

 }







