.header {
    padding-top: 20px;
 }

.logo__img {
    display: inline-block;
}

.logo__text {
    .inlineblock (middle);
    color: @orange;
    margin: 0 auto;
    font-family: 'als_malinaregular';
}

.sidebar {
    display: inline-block;
}

.nav {
    display: .inlineblock;
}

.nav__item {
	.inlineblock (middle);
    padding-left: 40px;
}
