.header {
    padding-top: 20px;

.logo {
    display: inline-block;
}

.logo__text {
    .inlineblock (middle);
    vertical-align: middle;
    color: @orange;
}

.sidebar {
    display: inline-block;
}

.nav {
    display: .inlineblock;
}

.nav__item {
    padding-left: 10px;
}

