.stuff {
	width: 680px;
	float: right; 
}

.about__left{
	float: left;
}
.about__pic {
	display: inline-block;
	height: 220px;
	width: 220px;
	.border-radius(50%); 
	background-size: cover;
	backgraung-repeat: no-repeat;
	background-position: center center;
}

.about__pic-item {
	position: absolute;
	top: 0;
	left: 9999px;
	
}

.about__right{
	float: right;
	margin-left: 35px;
}

.about__title {
	margin: 0 auto;
	color: @black;
	line-height: 38px;
	.fira (medium);

}
.about__text {

	width: 390px;
	max-height: 400px;
	overflow: hidden;
	.fira (light);
	margin-bottom: 30px;

}

.about__dowload {
	float: right;

}

.about__dowload-link {
	text-decoration: none;
	border: 2px solid @red;
	padding: 8px 15px;
	border-radius: 25px; 
	color: @red;
	.fira (bold);

	&:hover {
		background: @red;
		color: #fff;
		&.about__dowload-link-pic:before {
			background: url("../imgs/icon/btn-active.png") 0 0 no-repeat;

		}
	}
}

.about__dowload-link-pic:before {
	content: "";
    display: inline-block;
    width:18px;
    height:13px;
    background: url("../imgs/icon/btn.png") 0 0 no-repeat;

}

